@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap');
#title{
	padding: 20px;
	color: red;
	text-align: center;
}

body{
	font-family: 'Roboto Serif', sans-serif;
}

#description{
	font-size: 18px;
	text-align: center;
	
}

.container{
	background-color: #886F68;
	padding: 50px;
	color: #ffffff;
	min-height: 100%;
	display: flex;
}
.col{
	border: 3px solid black;
	padding: 20px 50px 50px 20px;
	flex-wrap: no-wrap;
	justify-content: space-evenly;
}
.col:hover{
	opacity: 50%;
}